#location {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(-45deg);
    position: relative;
}
#locate::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    transform: translate(50%, 50%);
}
